
/* Hour Breakdown Styles */
.wageDetailsContainer{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-top: 50px;
  }
  .wageHeaders{
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px black;
  }
    .wageHeaders > div{
      display: flex;
      flex:1;
      justify-content: center;
      font-size: 3vh;
    }
  .wageInfoRow{
    display: flex;
    flex-direction: row;
  }
    .wageInfoRow > div{
      display: flex;
      flex:1;
      justify-content: center;
      font-size: 2vh;
    }
  .total{
    border-top: solid 1px #747474;
    background-color: #b1f3ae;
  }